{% extends 'base.html.twig' %}

{% block title %}Détails De La Formation{% endblock %}

{% block body %}

{% set now = date() %}

<div class=containerSession>

    <h1>{{ formation.nomFormation }}</h1>

    <div class=session>

        <span class=leftTitle>Sessions en cours</span>
        
        <table>

            <tr>
                <th>Statut</th>
                <th>Disponibilité</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
            </tr>

            {% for session in currentSessions %}


            <tr>
                <td> 
                    {% if now > session.dateDebut and now < session.dateFin %}
                    <span>En cours</span>

                    {% elseif now < session.dateDebut %}
                    <span> A venir </span>

                    {% else %}
                    <span>Terminée</span>


                    {% endif %}

                </td>
                <td>
                    {% if session.stagiaires | length == session.nombrePlace %}
                    <span>Complet</span>  

                    {% else %}
                    <span>Disponible</span> 
                    
                    {% endif %}
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td> 
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                <td><a href="{{ path('detail_session', {'id': session.id}) }}">Detail session</a> <br> <a href="{{ path('delete_session_formation', {'id': session.id}) }}">Supprimer Session</a></td>
            </tr>   

            {% endfor %}

        </table>  

    </div>  

    <div class=session>  

        <span class=leftTitle>Sessions à venir</span>

        <table>
            <tr>
                <th>Statut</th>
                <th>Disponibilité</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
            </tr>

            {% for session in upcomingSessions %}

            <tr>
                <td> 
                    {% if now > session.dateDebut and now < session.dateFin %}
                    <span>En cours</span>

                    {% elseif now < session.dateDebut %}
                    <span> A venir </span>

                    {% else %}
                    <span>Terminée</span>


                    {% endif %}

                </td>
                <td>
                    {% if session.stagiaires | length == session.nombrePlace %}
                    <span>Complet</span>  

                    {% else %}
                    <span>Disponible</span> 
                    
                    {% endif %}
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                <td><a href="{{ path('detail_session', {'id': session.id}) }}">Detail session</a> <br> <a href="{{ path('delete_session_formation', {'id': session.id}) }}">Supprimer Session</a></td>
            </tr> 

            {% endfor %}

        </table> 

    </div>  

    <div class=session> 

        <span class=leftTitle>Sessions passées</span>

        <table>
            <tr>
                <th>Statut</th>
                <th>Disponibilité</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
            </tr>

            {% for session in pastSessions %}

            <tr>
                <td> 
                    {% if now > session.dateDebut and now < session.dateFin %}
                    <span>En cours</span>

                    {% elseif now < session.dateDebut %}
                    <span> A venir </span>

                    {% else %}
                    <span>Terminée</span>


                    {% endif %}

                </td>
                <td>
                    {% if session.stagiaires | length == session.nombrePlace %}
                    <span>Complet</span>  

                    {% else %}
                    <span>Disponible</span> 
                    
                    {% endif %}
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                <td><a href="{{ path('detail_session', {'id': session.id}) }}">Detail session</a> <br> <a href="{{ path('delete_session_formation', {'id': session.id}) }}">Supprimer Session</a></td>
            </tr>   

            {% endfor %}

        </table>

    </div>  

</div>

{% endblock %}

{% block javascripts %}
    
{% endblock %}