{% extends 'base.html.twig' %}

{% block title %}Détails De La Formation{% endblock %}

{% block body %}

    <h1>{{ formation.nomFormation }}</h1>

        <span>Sessions en cours</span>
        
        <table>

            <tr>
                <th>Disponibilité</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
                <th>  </th>
            </tr>

            {% for session in currentSessions %}

            <tr>
                <td> 
                    {% if today > session.dateDebut and today < session.dateFin %}
                    <span>En cours</span>

                    {% elseif today > session.dateFin  %}
                    <span>Terminée</span>

                    {% elseif today < session.dateDebut and session.stagiaires | length == session.nombrePlace %}
                    <span>Complet</span>

                    {% elseif today < session.dateDebut and session.stagiaires | length < session.nombrePlace %}
                    <span>Disponible</span>  

                    {% endif %}

                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td> 
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                {# <td><a href="{{ path('detail_session', {'id': session.id}) }}">Detail session</a></td> #}
            </tr>   

            {% endfor %}

        </table>    

        <span>Sessions à venir</span>

        <table>
            <tr>
                <th>Disponibilité</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
                <th>  </th>
            </tr>

            {% for session in upcomingSessions %}

            <tr>
                <td> 
                    {% if today > session.dateDebut and today < session.dateFin %}
                    <span>En cours</span>

                    {% elseif today > session.dateFin  %}
                    <span>Terminée</span>

                    {% elseif today < session.dateDebut and session.stagiaires | length == session.nombrePlace %}
                    <span>Complet</span>

                    {% elseif today < session.dateDebut and session.stagiaires | length < session.nombrePlace %}
                    <span>Disponible</span> 

                    {% endif %}

                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                {# <td><a href="{{ path('detail_session', {'id': session.id}) }}">Details Session</a><a href="{{ path('delete_session_formation', {'id': session.id}) }}">Supprimer Session</a></td> #}
            </tr> 

            {% endfor %}

        </table>  

        <span>Sessions passées</span>

        <table>
            <tr>
                <th>Disponibilité</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
                <th>  </th>
            </tr>

            {% for session in pastSessions %}

            <tr>
                <td> 
                    {% if today > session.dateDebut and today < session.dateFin %}
                    <span>En cours</span>

                    {% elseif today > session.dateFin  %}
                    <span>Terminée</span>

                    {% elseif today < session.dateDebut and session.stagiaires | length == session.nombrePlace %}
                    <span>Complet</span>

                    {% elseif today < session.dateDebut and session.stagiaires | length < session.nombrePlace %}
                    <span>Disponible</span> 

                    {% endif %}

                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                {# <td<a href="{{ path('detail_session', {'id': session.id}) }}">Detail Session</a></td> #}
            </tr>   

            {% endfor %}

        </table>

{% endblock %}

{% block javascripts %}
    
{% endblock %}