{% extends 'base.html.twig' %}

{% block title %}Détails De La Formation{% endblock %}

{% block body %}

{% set now = date() %}

<div class=containerSession>

    <h1>{{ formation.nomFormation }}</h1>

    <div class=session>

        <span class=leftTitle>Sessions en cours</span>
        
        <table>

            <tr>
                <th>Statut</th>
                <th>Inscription</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
            </tr>

            {% for session in currentSessions %}


            <tr>
                <td> 
                    {% if now > session.dateDebut and now < session.dateFin %}
                    <span> En Cours </span>

                    {% elseif now < session.dateDebut %}
                    <span> A Venir </span>

                    {% else %}
                    <span> Terminée </span>


                    {% endif %}

                </td>
                <td>
                    {% if session.stagiaires | length == session.nombrePlace %}
                    <span> Complet </span>  

                    {% else %}
                    <span> Disponible </span> 
                    
                    {% endif %}
                </td>
                <td class=actionIcons >{{ session.nomSession }} <a href="{{ path('detail_session', {'id': session.id}) }}"><i class="fa-solid fa-circle-info"></i></a></td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td> 
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                <td class=actionIcons > <br> <a href="{{ path('delete_session', {'id': session.id}) }}"><i class="fa-solid fa-delete-left"></i></a></td>
            </tr>   

            {% endfor %}

        </table>  

    </div>  

    <div class=session>  

        <span class=leftTitle>Sessions Programmées</span>

        <table>
            <tr>
                <th>Statut</th>
                <th>Inscription</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
            </tr>

            {% for session in upcomingSessions %}

            <tr>
                <td> 
                    {% if now > session.dateDebut and now < session.dateFin %}
                    <span> En Cours </span>

                    {% elseif now < session.dateDebut %}
                    <span> A Venir </span>

                    {% else %}
                    <span> Terminée </span>


                    {% endif %}

                </td>
                <td>
                    {% if session.stagiaires | length == session.nombrePlace %}
                    <span> Complet </span>  

                    {% else %}
                    <span> Disponible </span> 
                    
                    {% endif %}
                </td>
                <td class=actionIcons >{{ session.nomSession }} <a href="{{ path('detail_session', {'id': session.id}) }}"><i class="fa-solid fa-circle-info"></i></a></td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td> 
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                <td class=actionIcons > <br> <a href="{{ path('delete_session', {'id': session.id}) }}"><i class="fa-solid fa-delete-left"></i></a></td>
            </tr> 

            {% endfor %}

        </table> 

    </div>  

    <div class=session> 

        <span class=leftTitle>Sessions passées</span>

        <table>
            <tr>
                <th>Statut</th>
                <th>Inscription</th>
                <th>Session</th>
                <th>Formateur</th>
                <th>Commence Le</th>
                <th>Finis Le</th>
                <th>Inscrits</th>
            </tr>

            {% for session in pastSessions %}

            <tr>
                <td> 
                    {% if now > session.dateDebut and now < session.dateFin %}
                    <span> En Cours </span>

                    {% elseif now < session.dateDebut %}
                    <span> A Venir </span>

                    {% else %}
                    <span> Terminée </span>

                    {% endif %}

                </td>
                <td>
                    {% if session.stagiaires | length == session.nombrePlace %}
                    <span> Complet </span>  

                    {% else %}
                    <span> Session Terminée </span>
                    
                    {% endif %}
                </td>
                <td class=actionIcons >{{ session.nomSession }} <a href="{{ path('detail_session', {'id': session.id}) }}"><i class="fa-solid fa-circle-info"></i></a></td>
                <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td> 
                <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                <td class=actionIcons > <br> <a href="{{ path('delete_session', {'id': session.id}) }}"><i class="fa-solid fa-delete-left"></i></a></td>
            </tr>   

            {% endfor %}

        </table>

    </div>  

</div>

<div class="form">
            {{ form_start(formAddSession) }}
            <div class="formRow">
                {{ form_row(formAddSession.nomSession) }}
                {{ form_row(formAddSession.formateur) }}
                {{ form_row(formAddSession.formation, { 'attr': {'class': 'hidden'} }) }}
            </div>
            <div class="formRow">
                {{ form_row(formAddSession.nombrePlace) }}
                {{ form_row(formAddSession.dateDebut) }}
                {{ form_row(formAddSession.dateFin) }}
            </div>
            <div class="btnAjouter">
                {{ form_row(formAddSession.ajouter) }}
            </div>
            {{ form_end(formAddSession) }}
        </div> 

{% endblock %}

{% block javascripts %}
    
{% endblock %}