{% extends 'base.html.twig' %}

{% block title %}Informations du stagiaire{% endblock %}

{% block body %}

{% set now = date() %}

<div class = containerDetailStagiaire>

    <div class = detailStagiaire>

            <span>Nom : {{ stagiaire.nomStagiaire}}</span>
            <span>Prénom : {{ stagiaire.prenomStagiaire }}</span>
            <span>Date de naissance : {{ stagiaire.dateNaissance | date('d/m/Y') }}</span>
            <span>Adresse : {{ stagiaire.adresseStagiaire }}</span>
            <span>E-mail : {{ stagiaire.mailStagiaire }}</span>
            <span>Téléphone : {{ stagiaire.telStagiaire }}</span>

    </div>

    <div class=detailStagiaireSession>

            {% if stagiaire.sessions | length == 0 %}

                <span>Aucune session</span>

            {% else %}

            <table>

                <tr>
                    <th colspan="2"><h3> Inscrit Dans : </h3></th>                   
                </tr>

                {% for session in sessionsStagiaire %}

                <tr>
                    <th>Formation</th> 
                    <th>Statut</th>                   
                </tr>

                <tr>
                    <td>{{ session.Formation.nomFormation }}</td>
                    <td> 
                        {% if today > session.dateDebut and today < session.dateFin %}
                        <span>En cours</span>

                        {% elseif now < session.dateDebut %}
                        <span> A Venir </span>

                        {% else %}
                        <span>Terminée</span>

                        {% endif %} 
                    </td>
                </tr>

                <tr>
                    <th>Session</th> 
                    <th>Inscription</th>                   
                </tr>

                <tr>
                    <td class="actionIcons">{{ session.nomSession }} <a href="{{ path('detail_session', {'id': session.id}) }}"><i class="uil uil-comment-info"></i></a></td>
                    <td>
                        {% if session.stagiaires | length == session.nombrePlace %}
                        <span> Complet </span>  

                        {% else %}
                        <span> Disponible </span> 
                        
                        {% endif %} 
                    </td>

                <tr>
                    <th>Formateur</th> 
                    <th>Nombre D'inscrits</th>                   
                </tr>

                <tr>
                    <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                    <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>                  
                </tr>

                <tr>
                    <th>Commence Le :</th> 
                    <th>Termine Le :</th>                   
                </tr>

                <tr>
                    <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                    <td>{{ session.dateFin | date('d/m/Y')  }}</td>                  
                </tr>

                <tr>
                    <th colspan="2" class="actionIcons"><a href="{{ path('desinscrire_stagiaire', {'id':session.id,'stagiaireId': stagiaire.id}) }}"><i class="uil uil-user-times"></i></a></th>                   
                </tr>
               
                {% endfor %}

            </table>   

            {% endif %}

        </div>

    </div>

{% endblock %}