{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

        <ul>

            {% for stagiaire in stagiaires %}

            <li>
                <ahref="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</a>
            </li>

            {% endfor %}

        </ul>

            <span>Ajouter un stagiaire</span>

            
                {{ form_start(formAddStagiaire) }}
                
                    {{ form_row(formAddStagiaire.nomStagiaire) }}
                    {{ form_row(formAddStagiaire.prenomStagiaire) }}
                    {{ form_row(formAddStagiaire.sexe) }}
                
                    {{ form_row(formAddStagiaire.dateNaissance) }}
                    {{ form_row(formAddStagiaire.adresseStagiaire) }}
                
                    {{ form_row(formAddStagiaire.mailStagiaire) }}
                    {{ form_row(formAddStagiaire.telStagiaire) }}
                  
                    {{ form_row(formAddStagiaire.ajouter) }}
                
                {{ form_end(formAddStagiaire) }}


{% endblock %}

{% block javascripts %}

{% endblock %}