{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}


{% block body %}

    <div class=containerStudent>
        

            {% for stagiaire in stagiaires %}

            <div onclick="document.location='{{ path('detail_stagiaire', {'id': stagiaire.id}) }}'" class=cardStudent >
                <p class=student>{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</p>
            </div>

            {% endfor %}

        
    </div>

    <div class=formStudent>
            
                {{ form_start(formAddStagiaire) }}
                
                    {{ form_row(formAddStagiaire.nomStagiaire) }}
                    {{ form_row(formAddStagiaire.prenomStagiaire) }}
                    {{ form_row(formAddStagiaire.sexe) }}
                
                    {{ form_row(formAddStagiaire.dateNaissance) }}
                    {{ form_row(formAddStagiaire.adresseStagiaire) }}
                
                    {{ form_row(formAddStagiaire.mailStagiaire) }}
                    {{ form_row(formAddStagiaire.telStagiaire) }}
                  
                    {{ form_row(formAddStagiaire.ajouter) }}
                
                {{ form_end(formAddStagiaire) }}

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}