{% extends 'base.html.twig' %}

{% block title %}Detail Session{% endblock %}

{% block body %}

<div class=containerSession>

    <h1>{{ nomSession }}</h1>

        <h3>Modules du programme</h3>

        {% for module in modules %}

        <div class=module>

            <span>{{ module.nomModule }}</span>

        </div>

        {% endfor %}

        <h3>Stagiaires inscrits</h3>

        <div class=containerStudent>

        {% for stagiaire in stagiairesInscrits %}

        <div class=cardStudent onclick="document.location='{{ path('detail_stagiaire', {'id': stagiaire.id}) }}'" >

            <p>{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</p>
            <a href="{{ path('desinscrire_stagiaire', {'id':session_id,'stagiaireId': stagiaire.id}) }}">Désinscrire</a>
            
        </div>

        {% endfor %}

        </div>

        <h3>Stagiaires non inscrits</h3>

        <div class=containerStudent>

        {% for stagiaire in stagiairesNonInscrits %}

        <div class=cardStudent onclick="document.location='{{ path('detail_stagiaire', {'id': stagiaire.id}) }}'" >

                <p>{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</p>
                <a href="{{ path('inscrire_stagiaire', {'id':session_id,'stagiaireId': stagiaire.id}) }}">Inscrire</a>
                
        </div>

        {% endfor %}

        </div>

</div>

{% endblock %}
