{% extends 'base.html.twig' %}

{% block title %}Detail Session{% endblock %}

{% block body %}

<div class=containerModule>

    <div class=modulePris>

        <h3>Modules du programme</h3>

            <table>

                <tr>
                    <th>Catégorie</th>
                    <th>Nom Du Module</th>
                    <th>Durée</th>
                    <th>Supprimer</th>
                </tr>

            {% for programme in programmes %}

                <tr>
                    <td>{{ programme.module.categorie.nomCategorie }} </td>
                    <td>{{ programme.module.nomModule }}</td>
                    <td>{{ programme.dureeProgramme ~ ' Jours ' }}</td>
                    <td class="actionIcons"><a href="{{ path('delete_programme', {'id':session.id,'programmeId': programme.id}) }}"><i class="uil uil-file-times-alt"></i></a></td>
                </tr>

            {% endfor %}

            </table>

    </div>

    <div class=moduleLibre>

        <h3>Modules non programmés</h3>

        <table>

            <tr>
                <th>Catégorie</th>
                <th>Nom Du Module</th>
                <th>Durée</th>
                <th>Ajouter</th>
            </tr>

        {% for module in modulesLibres %}

        <form action="{{ path('add_programme', {'id':session.id,'moduleId': module.id}) }}" method="post">

            <tr>  
                <td>{{ module.categorie.nomCategorie }} </td>
                <td> {{ module.nomModule }} </td>
                <td> <input name="duree" type="number" min= "1" placeholder="Jours"> </td>
                <td> <input name="submitProgramme" type="submit" value="+"> </td>
            </tr>
                
        {% endfor %}

        </table>

    </div>

</div>

<div class=containerStagiaire>

    <div class=stagiaireInscrit>

        <h3>Stagiaires Inscrits</h3>

            <table>

            <tr>
                <th>Désinscrire</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Détails</th>
            </tr>

        {% for stagiaire in stagiairesInscrits %}

                <tr>
                    <td class="actionIcons"><a href="{{ path('desinscrire_stagiaire', {'id':session.id,'stagiaireId': stagiaire.id}) }}"><i class="uil uil-user-minus"></i></i></a></td>
                    <td> {{ stagiaire.nomStagiaire }} </td>
                    <td> {{ stagiaire.prenomStagiaire }} </td>
                    <td class="actionIcons"><a href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}"> <i class="uil uil-comment-info"> </i></a></td>
                    

                </tr>

        {% endfor %}

        </table>

    </div>

    <div class=stagiaireLibre>



        <h3>Stagiaires Non Inscrits</h3>

        <table>

            <tr>
                <th>Inscrire</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Détails</th>
            </tr>

        {% for stagiaire in stagiairesNonInscrits %}

            <tr>
                <td class="actionIcons"><a href="{{ path('inscrire_stagiaire', {'id':session.id,'stagiaireId': stagiaire.id}) }}"><i class="uil uil-user-plus"></i></i></a></td>
                <td>{{ stagiaire.nomStagiaire }} </td>
                <td> {{ stagiaire.prenomStagiaire }} </td>
                <td class="actionIcons"><a href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}"> <i class="uil uil-comment-info"> </i> </a> </td>
                

            </tr>

        {% endfor %}

        </table>

    </div>

</div>

{% endblock %}
