{% extends 'base.html.twig' %}

{% block title %}Detail Session{% endblock %}

{% block body %}

        <h3>Modules du programme</h3>

        {% for module in modules %}

            <span>{{ module.nomModule }}</span>

        {% endfor %}

        <h3>Stagiaires inscrits</h3>

        {% for stagiaire in stagiairesInscrits %}

            <a href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</a>
            

        {% endfor %}

        <h3>Stagiaires non inscrits</h3>

            {% for stagiaire in stagiairesNonInscrits %}

            <li>
                <a href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</a>
                
            </li>

            {% endfor %}

        </ul>

{% endblock %}
