{% extends 'base.html.twig' %}

{% block title %}Detail Session{% endblock %}

{% block body %}

<div class=containerModule>

    <h1>{{ session.nomSession }}</h1>

        <h3>Modules du programme</h3>

        <div class=containerStudent>

        {% for programme in programmes %}

        <div class=module>

            <span>{{ programme.module.categorie.nomCategorie ~ ': ' ~ programme.module.nomModule ~ ' (' ~ programme.dureeProgramme ~ ' Jours)' }}</span>
            <a href="{{ path('delete_programme', {'id':session.id,'programmeId': programme.id}) }}"><i class="fa-solid fa-xmark"></i></a>
            
        </div>

        {% endfor %}

        </div>

        <h3>Modules non programmés</h3>

        <div class=containerStudent>

        {% for module in modulesLibres %}

        <div class=module>

        <form action="{{ path('add_programme', {'id':session.id,'moduleId': module.id}) }}" method="post">
                
                <span>{{ module.nomModule }} 
                    <input name="duree" type="number" placeholder="Jours"> 
                    <input name="submitProgramme" type="submit" value="+" 
                </span>

        </div>

        {% endfor %}

        </div>

        <h3>Stagiaires Inscrits</h3>

        <div class=containerStudent>

        {% for stagiaire in stagiairesInscrits %}

        <div class=cardStudent onclick="document.location='{{ path('detail_stagiaire', {'id': stagiaire.id}) }}'" >

            <p>{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</p> 
            <a href="{{ path('desinscrire_stagiaire', {'id':session.id,'stagiaireId': stagiaire.id}) }}"><i class="fa-solid fa-user-minus"></i></a>
            
        </div>

        {% endfor %}

        </div>

        <h3>Stagiaires Non Inscrits</h3>

        <div class=containerStudent>

        {% for stagiaire in stagiairesNonInscrits %}

        <div class=cardStudent onclick="document.location='{{ path('detail_stagiaire', {'id': stagiaire.id}) }}'" >

                <p>{{ stagiaire.nomStagiaire ~ ' ' ~ stagiaire.prenomStagiaire}}</p>
                <a href="{{ path('inscrire_stagiaire', {'id':session.id,'stagiaireId': stagiaire.id}) }}"><i class="fa-solid fa-user-plus"></i></a>
                
        </div>

        {% endfor %}

        </div>

</div>

{% endblock %}
