{% extends 'base.html.twig' %}

{% block title %}Sessions De Formation{% endblock %}

{% block body %}

{% set now = date() %}

<h1>Liste Des Sessions</h1>

<div class=containerSession>

    <div class=containerListSession>

        <div class=currentSession>
            
            {% for session in currentSessions %}

            <table>

            <tr>
                    <th colspan="2" class=actionIcons ><h3>Sessions En Cours</h3></th>
                </tr>

                <tr>
                    <th colspan="2" class=actionIcons >{{ session.nomSession }} <a href="{{ path('detail_session', {'id': session.id}) }}"><i class="uil uil-comment-info"></i></a></th>
                </tr>

                <tr>
                    <th>Formateur</th>
                    <th>Statut</th>
                </tr>

                <tr>
                    <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                    <td>
                        {% if now > session.dateDebut and now < session.dateFin %}
                        <span> En Cours </span>

                        {% elseif now < session.dateDebut %}
                        <span> A Venir </span>

                        {% else %}
                        <span> Terminée </span>


                        {% endif %} </td>
                </tr>

                <tr>
                    <th>Inscription</th>
                    <th>Nombre D'inscrit</th>     
                </tr>

                <tr>
                    <td> 
                        {% if session.stagiaires | length == session.nombrePlace %}
                        <span> Complet </span>  

                        {% else %}
                        <span> Disponible </span> 
                        
                        {% endif %}  
                    </td>
                    <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                </tr>

                <tr>
                    <th>Commence Le :</th>
                    <th>Fini Le :</th>     
                </tr>

                <tr>
                    <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                    <td>{{ session.dateFin | date('d/m/Y')  }}</td>     
                </tr>

                <tr>
                    <th colspan="2" class=actionIcons > <br> <a href="{{ path('delete_session', {'id': session.id}) }}"><i class="uil uil-file-times-alt"></i></a></th>
                </tr> 

            </table> 

            <span><br></span>

            {% endfor %}

        </div>  
        
    </div>

    <div class=containerListSession>

        <div class=upcomingSession>

            {% for session in upcomingSessions %}

            <table>

                <tr>
                    <th colspan="2"><h3>Sessions Programmées</h3></th>  
                </tr>

                <tr>
                    <th colspan="2" class=actionIcons >{{ session.nomSession }} <a href="{{ path('detail_session', {'id': session.id}) }}"><i class="uil uil-comment-info"></i></a></th>
                </tr>

                <tr>
                    <th>Formateur</th>
                    <th>Statut</th>
                </tr>

                <tr>
                    <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                    <td>
                        {% if now > session.dateDebut and now < session.dateFin %}
                        <span> En Cours </span>

                        {% elseif now < session.dateDebut %}
                        <span> A Venir </span>

                        {% else %}
                        <span> Terminée </span>


                        {% endif %} </td>
                </tr>

                <tr>
                    <th>Inscription</th>
                    <th>Nombre D'inscrit</th>     
                </tr>

                <tr>
                    <td> 
                        {% if session.stagiaires | length == session.nombrePlace %}
                        <span> Complet </span>  

                        {% else %}
                        <span> Disponible </span> 
                        
                        {% endif %}  
                    </td>
                    <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                </tr>

                <tr>
                    <th>Commence Le :</th>
                    <th>Fini Le :</th>     
                </tr>

                <tr>
                    <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                    <td>{{ session.dateFin | date('d/m/Y')  }}</td>     
                </tr>

                <tr>
                    <th colspan="2" class=actionIcons > <br> <a href="{{ path('delete_session', {'id': session.id}) }}"><i class="uil uil-file-times-alt"></i></a></th>
                </tr> 

            </table>  

            <span><br></span>

            {% endfor %} 

        </div>  

    </div>

    <div class=containerListSession>

        <div class=pastSession>

            {% for session in pastSessions %}

            <table>

                <tr>
                    <th colspan="2"><h3>Sessions Terminées</h3></th>  
                </tr>

                <tr>
                    <th colspan="2" class=actionIcons >{{ session.nomSession }} <a href="{{ path('detail_session', {'id': session.id}) }}"><i class="uil uil-comment-info"></i></a></th>
                </tr>

                <tr>
                    <th>Formateur</th>
                    <th>Statut</th>
                </tr>

                <tr>
                    <td>{{ session.Formateur.prenomFormateur }} {{ session.Formateur.nomFormateur }}</td>
                    <td>
                        {% if now > session.dateDebut and now < session.dateFin %}
                        <span> En Cours </span>

                        {% elseif now < session.dateDebut %}
                        <span> A Venir </span>

                        {% else %}
                        <span> Terminée </span>


                        {% endif %} </td>
                </tr>

                <tr>
                    <th>Inscription</th>
                    <th>Nombre D'inscrit</th>     
                </tr>

                <tr>
                    <td> 
                        {% if session.stagiaires | length == session.nombrePlace %}
                        <span> Complet </span>  

                        {% else %}
                        <span> Terminée </span> 
                        
                        {% endif %}  
                    </td>
                    <td>{{ session.stagiaires | length }}/{{ session.nombrePlace }}</td>
                </tr>

                <tr>
                    <th>A Commencé Le :</th>
                    <th>S'est Fini Le :</th>     
                </tr>

                <tr>
                    <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                    <td>{{ session.dateFin | date('d/m/Y')  }}</td>     
                </tr>

                <tr>
                    <th colspan="2" class=actionIcons > <br> <a href="{{ path('delete_session', {'id': session.id}) }}"><i class="uil uil-file-times-alt"></i></a></th>
                </tr> 

            </table>  

            <span><br></span>

            {% endfor %}

    </div>  

</div>

    <div class=containerFormulaireSession>
    
        <h2>Créer Une Session</h2>
    
            {{ form_start(formAddSession) }}

            <div class=formSession>

                {{ form_row(formAddSession.nomSession) }}
                {{ form_row(formAddSession.formateur) }}
                {{ form_row(formAddSession.formation) }}

            </div>

            <div class=formSession>

                {{ form_row(formAddSession.nombrePlace) }}
                {{ form_row(formAddSession.dateDebut) }}
                {{ form_row(formAddSession.dateFin) }}

            </div>

            <div class=btnAjouterSession>

                {{ form_row(formAddSession.ajouter) }}

            </div>

            {{ form_end(formAddSession) }}
            
</div>  

{% endblock %}

