{% extends 'base.html.twig' %}

{% block title %}Liste Des Catégories{% endblock %}

{% block body %}

<h1>Liste Des Catégories</h1>

<div class=containerFormation>

    {% for categorie in categories %}

    <div onclick="document.location='{{ path('detail_categorie', {'id': categorie.id}) }}'"  class=formation>
        <p>{{ categorie.nomCategorie }} </p>
    </div>

    {% endfor %}

    <div id="divBtn">
        <button id="btnAjout">Ajouter une categorie</button>
    </div>
    <div id="overlay">
        <div class="form">
            {{ form_start(formAddCategorie) }}
            <div class="formRow">
                {{ form_row(formAddCategorie.nomCategorie) }}
            </div>
            <div class="btnAjouter">
                {{ form_row(formAddCategorie.ajouter) }}
            </div>
            {{ form_end(formAddCategorie) }}
        </div>    
    </div>


</div>

{% endblock %}
