{% extends 'base.html.twig' %}

{% block title %}Liste Des Formateurs{% endblock %}

{% block body %}

<h1>Liste Des Formateurs</h1>

<div class=containerFormation>

    {% for formateur in formateurs %}

    <div onclick="document.location='{{ path('detail_formateur', {'id': formateur.id}) }}'"  class=cardStudent>
        <p class=student>{{ formateur.nomFormateur ~ ' ' ~ formateur.prenomFormateur }} </p>
    </div>

    {% endfor %}

    <div id="divBtn">
            <button id="btnAjout">Ajouter Un Formateur</button>
        </div>
        <div id="overlay">
            <div class="form">
                {{ form_start(formAddFormateur) }}
                <div class="formRow">
                    {{ form_row(formAddFormateur.nomFormateur) }}
                    {{ form_row(formAddFormateur.prenomFormateur) }}
                    {{ form_row(formAddFormateur.mailFormateur) }}
                    {{ form_row(formAddFormateur.telFormateur) }}
                </div>
                <div class="btnAjouter">
                    {{ form_row(formAddFormateur.ajouter) }}
                </div>
                {{ form_end(formAddFormateur) }}
            </div>    
        </div>

</div>

{% endblock %}
